@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");


body {
  background: #ffc2c2;
  transition: background 0.5s ease;
}

.title {
  font-family: "krul", sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 35pt;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
  color: #ed8787;
}

.intro_name {
  font-family: "krul", sans-serif;
  font-weight: 700;
  font-style: normal;  
  font-size: 30pt;
  display: inline-block;
  text-align: left;
  height: 13vh;
  justify-content: center;

}

.wrapper {
  height: 95vh;
}

.chat {
  background: #ffffff;
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: rgb(106, 19, 79);
}

.messages div a:hover {
  color: rgb(236, 133, 156);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  color: #ed8787;
  font-size: 15pt;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: #ed8787;
  border: 1px solid rgb(255, 255, 255);
  color:  rgb(255, 255, 255);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #ed8787;;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(159, 159, 159);
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 60vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 50vw;
  }
  .title {
    height: 7.5vh;
  }
}


.action {
  font-size: 80%;
  color: rgb(255, 255, 255);
  font-family: "orbital", sans-serif;
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  margin-top: 5px; 
  background: #ed8787;
  padding: 5px;
  border-radius: 5px;
}

img {
  width: 100%;
  background: transparent;
}



.background-roasty {
  background-image: url('backgrounds/roastybackground.png'); /* Path to your image */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-brewster {
  background-image: url('backgrounds/brewsterbackground.png'); /* Path to your image */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-joe {
  background-image: url('backgrounds/joebackground.png'); /* Path to your image */
  background-size: cover;
  background-repeat: no-repeat;
}

.cups-wrapper {
  display: flex;
  flex-direction: row;
  width: 150%
 }
 

 .cups-wrapper > span {
  width: 33%;
  text-align: center;
  font-size: 80%;
 }
 